* {
  /*outline: 3px dotted orange;*/
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: 'Proza libre', sans-serif;
}
body {
  background-color: #2e2e2e;
}
section {
  /*outline: 3px dashed blue;*/
  padding: 50px 0px;
  width: 60%;
  margin: 0px auto;
  background-color: rgba(35, 106, 98, .5);
  border-radius: 10px;
}
h1 {
  position: relative;
  height: 50px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'Rock Salt', cursive;
}
h2 {
  text-align: center;
  margin: 2px 0px;
}
section h2 {
  font-family: 'BioRhyme', serif;
}
p {
  text-align: left;
  margin: 2px 15px;
}
li {
  position: relative;
  text-align: left;
  left: 40px
}
div {
  position: fixed;
  margin-top: 70px;
  width: 20%;
  height: 100%;
}
#left {
  top: 0;
  left: 0;
}
#right {
  top: 0;
  right: 0;
}
#orliz {
  text-align: center;
  margin: 10px 0px 20px 0px;
}

/** {
  font-family: helvetica;
}
body {
  background-color: #aa3939;
}
h1 {
  position: relative;
  left: 50px;
  color: #f1cf28;
}
h2 {
  color: #ffe192;
  font-size: 24px;
  padding: 5px;
  margin: 5px;
}
p {
  color: #ffe87b;
  font-size: 16px;
  padding: 10px;
}
li {
  color: #ffe152;
  font-size: 18px;
}
.boxes {
  position: absolute;
  height: 400px;
  width: 500px;
  margin: 10px;
}
.list {
  position: absolute;
  top: 120px;
  left: 532px;
  height: 670px;
  width: 150px;
  border: 3px solid #ffaaaa;
  border-radius: 10px;
}
#bio {
  background-color: #003333;
  border: 3px solid #407f7f;
  border-radius: 10px;
}
#edu {
  left: 686px;
  background-color: #567714;
  border: 3px solid #d4ee9f;
  border-radius: 10px;
}
#exp {
  top: 510px;
  background-color: #354f00;
  border: 3px solid #a5c663;
  border-radius: 10px;
}
#fun {
  top: 510px;
  left: 686px;
  background-color: #0d4d4d;
  border: 3px solid #669999;
  border-radius: 10px;
}*/
